@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body {
	zoom: 120%;
}

/* Define styles for smaller screens */
@media (max-width: 768px) {
  body {
    zoom: 100%; /* Reset zoom for smaller screens */
  }
}

.container {
	text-align: center;
}
.downloadbutton{
	text-align: center;
}

form {
	margin-top: 10vh;
	text-align: center;
}

form input {
	width: 400px;
	height: 50px;
	padding: 10px;
	font-size: 18px;
	font-family: 'Poppins', sans-serif;
}

form button {
	margin: 0;
	color: #fff;
	background-image: linear-gradient(180deg, #2bbe60, #0f9d58);
	border: none;
	width: 400px;
	height: 40px;
	outline: none;
	cursor: pointer;
	font-size: 16px;
	font-family: 'Poppins' , sans-serif;
}

button {
	margin: 0;
	color: #fff;
	background-image: linear-gradient(180deg, #2bbe60, #0f9d58);
	border: none;
	width: 400px;
	height: 40px;
	outline: none;
	cursor: pointer;
	font-size: 16px;
	font-family: 'Poppins', sans-serif;
}

.img-div {
	margin-top: 100px;
}
